# This workflow will do a clean installation of dependencies using Bun, cache/restore them, build the source code and run tests across different versions of Bun
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Bun CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        bun-version: [latest]
        # See supported Bun release schedule at https://bun.sh/docs/installation
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Bun ${{ matrix.bun-version }}
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: ${{ matrix.bun-version }}
    
    - name: Install dependencies
      run: bun install --frozen-lockfile
    
    - name: Build
      run: bun run build 
